html,
body { 
	min-width: 900px;
	margin: 0;
	padding: 0;
	color: #000;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
}

.clearfix {
	content: '';
	display: table;
	clear: both;
}

li { list-style: none; }

h1{
	font-weight: normal;
	font-size: 36px;
	line-height: 36px;
}

h2 {
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

a { 
	color: #000;
	text-decoration: none;
}

/*Шапка*/
.page-header {
	padding-top: 10px;
	background:#eee;
	min-height: 310px;
}

.header-container {
	width: 880px;
	margin: 0 auto;
	margin-top: 10px;
    margin-bottom: 30px;
	padding: 0 10px;
}

.page-header-logo {
	float: left;
	width: 139px;
}

nav {
	float: right;
	width: 560px;
	padding-top: 17px;
}

.page-navigation ul {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.page-navigation li {
	display: inline-block;
	vertical-align: top;
	margin-left: 46px;
}

.page-navigation li:first-child { margin-left: 0; }

.page-navigation li:last-child { margin-left: 96px; }

nav a {
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

/*Слайдер*/
.slider {
	position: relative;
	width: 880px;
	margin: 0 auto;
}

.slide {
	min-height: 310px;
	background-repeat: no-repeat;
	background-position: 100% 10px;
}

.slider input[type='radio'] {
	display: none;
}

.slider-controls {
	position: absolute;
	bottom: 95px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	text-align: center;
}

.slider-controls label {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 3px;
	cursor: pointer;
	vertical-align: top;
	border: 3px solid white;
	border-radius: 50%;
	backface-visibility: #fff;
}

.slide-text {
	width: 500px;
	padding: 30px 0;
}

.slide-title {
	font-size: 36px;
	font-weight: 500;
}

.slide p {
	color: #283136;
	font-weight: 500;
	line-height: 22px;
}

.slide .btn {
	display: block;
	width: 220px;
	margin-top: 25px;
	padding: 12px 10px;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
	background: #fb565a;
}

.slide:nth-child(1) {
	background-image: url('../img/slider-img-1.png');
}

.slide:nth-child(2) {
	background-image: url('../img/slider-img-2.png');
}

.slide:nth-child(3) {
	background-image: url('../img/slider-img-3.png');
}

.slide {
	display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
	display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
	display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
	display: block;
}

#btn-1:checked ~ .slider-controls label[for='btn-1'],
#btn-2:checked ~ .slider-controls label[for='btn-2'],
#btn-3:checked ~ .slider-controls label[for='btn-3'] {
	background: #c1c1c1;
}

/*Заголовок каталога*/
.header-title {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	font-weight: 500;
    font-size: 40px;
	line-height: 48px;
	text-transform: uppercase;
	margin-top: 50px;
}

/*Услуги*/
.main {
	width: 880px;
	margin: 0 auto;
	padding: 0 10px;
}

.service {
	float: left;
	width: 240px;
	margin-top: 80px;
	margin-right: 80px;
	margin-bottom: 80px;
}

.service:last-child {
	margin-right: 0;
}

.service p {
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
}

.service a {
	display: block;
	float: left;
	width: 140px;
	margin: 0 auto;
	padding: 10px;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 3px;
}

.btn-red {
	background: #fb565a;
}

.btn-green {
	background: #00ca74;
}

.btn-yellow {
	background: #efc84a;
}

/*О компании*/
.main-about {
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	padding-top: 45px;
	padding-bottom: 40px;
}

.main-about h2 {
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	margin-top: 50px;
}

.main-about p,
.main-about li {
	line-height: 22px;
}

.main-about ul {
	margin: 0;
	padding: 0;
}

.main-about li {
	margin-left: 40px;
	margin-bottom: 30px;
}

.left-column {
	float: left;
	width: 570px;
}

.right-column {
	float: right;
	width: 240px;
	padding-top: 20px;
	padding-left: 70px;
}

.right-column img {
	margin-bottom: 21px;
}

/*Клиенты*/
.clients {
	border-bottom: 2px solid #eeeeee;
}

.clients a {
	display: inline-block;
	vertical-align: middle;
	padding-top: 45px;
	padding-bottom: 30px;
	padding-right: 100px;
	padding-left: 25px;
}

.clients a:last-child {
	padding-right: 0;
	padding-left: 0;
}

/*Каталог*/
.catalog {
	width: 880px;
	margin: 0 auto;
	padding: 0 10px;
	padding-top: 80px;
}

/*Фильтр*/
.filter {
	float: left;
    width: 240px;
}

.form-title {
	font-weight: 500;
	font-size: 18px;
    line-height:30px;
    text-transform: uppercase;
}

label {
	display: block;
	line-height: 20px;
}

input[type="text"] {
	width: 80px;
}

/*Сортировка*/

.catalog-filter {
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
}

.catalog-filter ul {
	font-size: 0;
}

.catalog-filter li {
    display: inline-block;
    vertical-align: middle;
	margin-right: 36px;
    font-size: 12px;
    line-height: 18px;
	text-transform: uppercase;
}

.catalog-filter li:first-child {
	color: #000;
	font-weight: 600;
}

.catalog-filter a {
	color: #b2b2b2;
}

/*Товары*/
.catalog-content {
	float: right;
	width: 560px;
}

.catalog-item-top {
	margin: 0;
	padding: 0;
}

.catalog-items{
    font-size: 0px;
}

.catalog-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 80px;
	margin-bottom: 80px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0px;
}

.catalog-item-tooltip {
	display: none;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 140px;
	padding: 25px 30px;
	text-align: center;
	background: #ffffff;
}

.catalog-item:hover .catalog-item-tooltip {
	display: block;
}

.catalog-item-tooltip h1 {
	margin: 0;
	margin-bottom: 24px;
	font-size: 18px;
	text-transform: uppercase;
}

.catalog-item-tooltip p {
	margin: 0;
	margin-bottom: 34px;
	font-size: 14px;
	line-height: 18px;
}

.catalog-item-button {
	padding: 12px 0px;
  	padding-left: 34px;
	padding-right: 30px;
	color: #fff;
	font-weight: 500;
    font-size: 18px;
	text-transform: uppercase;
	background: #fb565a;
	border-radius: 3px;
}

/*Пагинация*/
.pagination {
	margin: 0;
	padding: 0;
}

.pagination ul {
	font-size: 0;
}

.pagination li {
    display: inline-block;
    vertical-align: top;
}

.pagination a {
    padding: 10px 16px;
    margin-right: 7px;
	font-size: 12px;
    line-height: 18px;
	text-transform: uppercase;
    border-radius: 3px;
    background: #f1f1f1;
}

/*Подвал*/
.main-footer {
	padding-top: 85px;
}

.map {
	width: 100%;
	min-height: 416px;
	margin: 0 auto;
	background: #e9e5dc url("../img/map.jpg") no-repeat center;
}

.contacts {
	float: left;
	width: 250px;
	min-height: 240px;
	background: #ffffff;
	margin-top: 90px;
	margin-left: 270px;
}

.contacts .button-red{
	display: block;
	width: 204px;
	margin: 0 auto;
	padding: 10px 0px;
	color: #ffffff;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 3px;
	background: #fb565a;
}

.contacts p {
	margin: 16px 22px;
	font-weight: 500;
	line-height: 20px;
}

.contacts p:first-child {
	margin-top: 30px;
	font-weight: 600;
	line-height: 30px;
	text-transform: uppercase;
}

.map-marker {
    float: right;
    width: 155px;
	margin-top: 110px;
	margin-right: 315px;
}

.footer-container {
	width: 880px;
	margin: 0 auto;
	margin-top: 78px;
    margin-bottom: 77px;
	padding: 0 10px;
}

.footer-link {
	float: left;
	width: 240px;
	
}

.footer-text {
	float: right;
	width: 550px;
	margin-left: 80px;
}

.footer-text .footer-title {
	margin: 0px;
	margin-bottom: 14px;
	font-weight: 500;
	font-size: 36px;
	line-height: 36px;
	text-transform: none;
}

.footer-text p {
	margin: 0;
}